.title {
	text-align: center;
	color: limegreen;
	background-color: orange;
	border-radius: 12px;
}

.box {
	border: 1px solid black;
	padding: 8px;
	margin: 8px;
}

.flex {
	display: flex;
}

.checked {
	color: gray;
	text-decoration: line-through;
}

.message-box-kuro {
	width: 300px;
	position: relative;
	margin: 1.5em 0 1.5em 15px;
	padding: 20px;
	min-width: 120px;
	max-width: 100%;
	color: #555;
	font-size: 16px;
	background: #e0edff;
	border-radius: 12px;
}

.message-box-kuro:before {
	content: '';
	position: absolute;
	top: 50%;
	left: -30px;
	margin-top: -15px;
	border: 15px solid transparent;
	border-right: 15px solid #e0edff;
}

.message-box-siro {
	width: 300px;
	position: relative;
	margin: 1.5em 15px 1.5em 0;
	padding: 20px;
	min-width: 120px;
	max-width: 100%;
	color: #555;
	font-size: 16px;
	background: papayawhip;
	border-radius: 12px;
}

.message-box-siro:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 100%;
	margin-top: -15px;
	border: 15px solid transparent;
	border-left: 15px solid papayawhip;
}
