.title {
  text-align: center;
  color: limegreen;
  background-color: orange;
  border-radius: 12px;
}

/* p {
  font-size: 46px;
} */

input:checked ~ span {
  color: gray;
  text-decoration: line-through ;
}

/* .checked {
color: gray;
text-decoration: line-through ;
} */
