.title {
  text-align: center;
  color: limegreen;
  background-color: orange;
  border-radius: 12px;
}

/* p {
  font-size: 46px;
} */

input:checked {
  color: red;
  text-decoration: line-through ;
}

input[type="checkbox"]:checked{
  color: red;
  text-decoration: line-through ;
}